@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

// font
$font: 'Open Sans', sans-serif;

// color
$blue: #045de9;
$lightblue: #f3f5f8;
$bluegrey: #b6c2d4;
$grey: #ddd;
$green: #38d3ab;
$black: #22232b;
$white: #fff;
