@import '../style/global.scss';

.dashboard {
  width: 83%;
  height: 100vh;
  padding: 2em 1.75em 1.75em;

  table {
    border-collapse: collapse;
    width: 100%;

    th {
      padding: 15px 0;
      text-align: center;
      background-color: $blue;
      color: $white;
    }

    th,
    td {
      border: 1px solid $grey;
      padding: 10px;
    }

    tr {
      &:nth-child(even) {
        background-color: $lightblue;
      }
      &:hover {
        background-color: $lightbluegrey;
      }
    }
  }

  .pagination {
    margin-top: 1em;
    text-align: right;

    span {
      color: $blue;
      font-weight: bold;
      margin-right: 0.75em;
    }

    button {
      color: $blue;
      font-weight: bold;
      margin-right: 0.15em;
      background-color: $white;
      border: 1px solid $grey;
      border-radius: 3px;
      width: 30px;
      height: 30px;
    }
  }
}
